//- Initial code outline from wiki.pug
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 About this Site
      section.text This site was created by SG for a Full Stack project.  
      p It was inspired by her children who are really into this game. They would like to point out this is actually PVZ 2 data.
      img.side-image(src="/images/kids-max-train.jpeg" alt="Two kids looking at a cell phone on a train")
    include includes/footer.pug