//- Initial code outline from wiki.pug
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 Battle
      section.text Pick one of each and see who wins!
      #battle-root
    script(type='application/json' id='plants-data') !{JSON.stringify(p_data || [])}
    script(type='application/json' id='zombies-data') !{JSON.stringify(z_data || [])}
    script(crossorigin src='https://unpkg.com/react@18/umd/react.development.js')
    script(crossorigin src='https://unpkg.com/react-dom@18/umd/react-dom.development.js')
    script(src='/battle.js')